.card {
  position: relative;
  width: 8rem;
  height: 8rem;
  perspective: 50rem;
}

.card .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.active .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.card .front,
.card .back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  line-height: 8rem;
  color: #03446A;
  text-align: center;
  font-size: 3rem;
  border-radius: .5rem;
  backface-visibility: hidden;
}

.card .back {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg );
}
