<main id="root">
  <header>
    <h2>{{title}}</h2>
    <span>{{time}}</span>
    <button (click)="startGame($event)">Iniciar</button>
  </header>
  <section class="cards" (click)="handleClickOnCard($event)">
    <div class="row" *ngFor="let row of matrix">
      <div class="column" *ngFor="let column of row">
        <app-card
          [back]="column.back"
          [front]="column.front"
          [id]="column.id"
          [disabled]="!start || disabled || column.disabled"
          (flip)="handleClickOnCard($event)"
        ></app-card>
      </div>
    </div>
  </section>
</main>
