<main id="root">
  <header>
    <h2>{{title}}</h2>
    <span>{{time}}</span>
    <span>Player 1 {{score[0]}}</span>
    <span>Player 2 {{score[1]}}</span>
    <button (click)="startGame($event)">Iniciar</button>
    <p>Turno Player {{player + 1}}</p>
  </header>
  <section class="cards">
    <div class="row" *ngFor="let row of matrix">
      <div class="column" *ngFor="let column of row">
        <app-card
          [id]="column.id"
          [heroeId]="column.heroeId"
          [active]="column.active"
          [disabled]="!start || disabled || column.disabled"
          [back]="column.back"
          [front]="column.front"
          (flip)="handleClickOnCard($event)"
        ></app-card>
      </div>
    </div>
  </section>
</main>
